@keyframes borderMove {
    0% {
      border-top-width: 2px;
      border-right-width: 2px;
      border-bottom-width: 2px;
      border-left-width: 2px;
    }
    25% {
      border-top-width: 5px;
      border-right-width: 2px;
      border-bottom-width: 2px;
      border-left-width: 2px;
    }
    50% {
      border-top-width: 5px;
      border-right-width: 5px;
      border-bottom-width: 2px;
      border-left-width: 2px;
    }
    75% {
      border-top-width: 5px;
      border-right-width: 5px;
      border-bottom-width: 5px;
      border-left-width: 2px;
    }
    100% {
      border-top-width: 5px;
      border-right-width: 5px;
      border-bottom-width: 5px;
      border-left-width: 5px;
    }
  }
  
  .animate-border-move {
    animation: borderMove 1s linear infinite;
  }
  
  
/* Safari scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #1e3a8a, #ccccca);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #1e3a8a, #ccccca);
}

/* Custom scrollbar styles for FiltersTabs */
.scrollbar-thin::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.scrollbar-thumb-gray-700::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #1e3a8a, #ccccca);
  border-radius: 1px;
}

.scrollbar-thumb-gray-600::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #1e3a8a, #ccccca);
  border-radius: 1px;
}

.scrollbar-track-transparent::-webkit-scrollbar-track {
  background: transparent;
}

/* Hide scrollbar by default, show on hover */
.scrollbar-thin {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.scrollbar-thin::-webkit-scrollbar {
  display: none;
}

.scrollbar-thin:hover::-webkit-scrollbar {
  display: block;
}