@keyframes borderMove {
    0% {
      border-top-width: 2px;
      border-right-width: 2px;
      border-bottom-width: 2px;
      border-left-width: 2px;
    }
    25% {
      border-top-width: 5px;
      border-right-width: 2px;
      border-bottom-width: 2px;
      border-left-width: 2px;
    }
    50% {
      border-top-width: 5px;
      border-right-width: 5px;
      border-bottom-width: 2px;
      border-left-width: 2px;
    }
    75% {
      border-top-width: 5px;
      border-right-width: 5px;
      border-bottom-width: 5px;
      border-left-width: 2px;
    }
    100% {
      border-top-width: 5px;
      border-right-width: 5px;
      border-bottom-width: 5px;
      border-left-width: 5px;
    }
  }
  
  .animate-border-move {
    animation: borderMove 1s linear infinite;
  }
  
/* Webkit (Chrome, Edge, Safari) */
html, body {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #1e3a8a transparent; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, transparent, transparent);
  border-radius: 0px;
}

html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, transparent, transparent);
}

html::-webkit-scrollbar-button,
body::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}